<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon.ico">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.18.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TeleCap🧢</title>
</head>

<body>
    <div class="navbar bg-neutral text-neutral-content">
        <a href='/' class="btn btn-ghost normal-case text-xl">TeleCap🧢</a>
    </div>
    <div class="hero min-h-screen" style="background-image: url(/static/waves1.png);">
        <div class="hero-overlay bg-opacity-50"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Welcome to TeleCap🧢</h1>
                <p class="mb-5">This website is a prototype to showcase the profiling system of Telecap. Using facial
                    recognition, we can detect faces and make user-based profiles off them. This helps to keep a check
                    on how much time a user is spending in front of a television screen!</p>
                <a href="/profiles" class="btn btn-primary">Go to profiles</a>
            </div>
        </div>
    </div>
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <div>
            <p>Website Made By <a href="https://realhardik18.github.io">realhardik18</a></p>
        </div>
    </footer>
</body>

</html>